/****************************************************************
* ACTIVATE
*****************************************************************/
.m-control.m-container.m-plg_activate{
	order: 12;
}	

/****************************************************************
* IDENTIFY
*****************************************************************/
.m-control.m-getfeatureinfobylayers-container{
	order: 11;
}

/****************************************************************
* MANAGE LAYERS
*****************************************************************/

/* Estilo toc */
#toolbar-buttons-managelayers{
	background-color: #007a33!important;
}	

.m-areas>div.m-area>div.m-panel.m-managelayers>button.m-panel-btn{
	background-color: #007a33!important;
}

#toolbar-managelayers>div.title{
	background-color: #007a33!important;
}

.m-areas>div.m-area>div.m-panel.m-managelayers.collapsed>button.m-panel-btn{
	color: #007a33!important;
    background-color: white!important;	
}

/* Eliminar capa plg catastro */
#toc-activelayers div[id*='layerThatContainSelectedFeatures'].toc-item-layer,
#toc-activelayers div[id*='layerChangingColorWhenHovering'].toc-item-layer,
#toc-activelayers div[id$='_'].toc-item-layer {
    display: none;
}

/* Elimenar capa contexto */
#toc-activelayers div[id*='contexto_andalucia'].toc-item-layer,
#toc-activelayers div[id*='layerChangingColorWhenHovering'].toc-item-layer,
#toc-activelayers div[id$='_'].toc-item-layer {
    display: none;
}
